@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

body{
  /*background-color: #f0fcfc;*/
  background: url('/public/img/game_background.png');
  background-size: cover;
  font-family: 'Roboto',sans-serif;
  height: 100%;
}

#info{
   z-index: 1;
   border: 1px solid black;
   width: 1500px;
   height: 104px;
   position: fixed;
   left: calc((100% - 1500px) / 2);
   top: 62px;
   background-color: #f0fcfc;
}
#screen-left{
  position: absolute;
  top: 165px;
  left: calc((100% - 1900px) / 2);
  position: fixed;
  background-color: #f0fcfc;
  border: 1px solid black;
  width: 200px;
  /*height: 500px;*/
}
#screen{
  position: absolute;
  top: 165px;
  left: calc((100% - 1500px) / 2);
  background: url('https://c1.staticflickr.com/5/4238/35065465882_43f648365e_o.png');
  /*background-color: white;*/
  border: 1px solid black;
  width: 1500px;
  height: 1500px;
}
#screen-right{
  position: absolute;
  top: 165px;
  right: calc((100% - 1900px) / 2);
  position: fixed;
  background-color: #f0fcfc;
  border: 1px solid black;
  width: 200px;
  /*height: 500px;*/
}
.player_dot{
  position: absolute;
  border-radius: 5px;
  box-shadow:
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black
  ;
  width: 5px;
  height: 5px;
}
