@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
body{
  background-color: #f0fcfc;
  font-family: 'Roboto',sans-serif;
}
#info{
   z-index: 1;
   /*border: 1px solid black;*/
   width: 1500px;
   height: 102px;
   position: fixed;
   left: calc((100% - 1500px) / 2);
   top: 62px;
   background-color: #f0fcfc;
}
#screen-left{
  position: absolute;
  top: 165px;
  left: calc((100% - 1900px) / 2);
  position: fixed;
  background-color: #f0fcfc;
  /*border: 1px solid blue;*/
  width: 200px;
  /*height: 500px;*/
}
#screen{
  position: absolute;
  top: 165px;
  left: calc((100% - 1500px) / 2);
  /*background: url('https://previews.123rf.com/images/seamartini/seamartini1306/seamartini130600029/20325218-carte-de-banlieue-ou-petite-ville-de-vraie-conception-de-l-industrie-immobili%C3%A8re.jpg');*/
  background-color: white;
  border: 1px solid black;
  width: 1500px;
  height: 1500px;
}
#screen-right{
  position: absolute;
  top: 165px;
  right: calc((100% - 1900px) / 2);
  position: fixed;
  background-color: #f0fcfc;
  /*border: 1px solid green;*/
  width: 200px;
  /*height: 500px;*/
}
.player_dot{
  position: absolute;
  border-radius: 5px;
  box-shadow:
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black,
    0px 0px 10px black
  ;
  width: 5px;
  height: 5px;
}
